.profile-div-main {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-div-main-img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

input[type="file"] {
    padding-bottom: 1rem;
}