body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f1f3f6!important;
}

* {
    font-family: 'Poppins', sans-serif;
  }
  